body {
  background-color: #343434;
  color: white;
}

.App {
  text-align: center;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {

}

.statBlock {
  padding: 2rem;
  margin: 1rem;
  width: 200px;
  border: white solid 2px;
}